@use '../global/' as global;


.p-blog-card-type2 {
  word-break: break-all;
}

.p-blog-card-type2__inner {
  display: flex;
  flex-direction: row-reverse;

  @include global.mq('sp') {
    flex-direction: column-reverse;
  }

  @include global.hv() {
    .p-blog-card-type2__body {
      opacity: 0.7;
    }

    .p-blog-card-type2__thumb {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.p-blog-card-type2__body {
  flex: 1;
  padding-bottom: 15px;
  transition: opacity .3s ease;
  min-height: 148px;

  @include global.mq('sp') {
    flex: 1 0 auto;
  }
}

.p-blog-card-type2__date {
  display: block;
  line-height: 1;

  @include global.mq('sp') {
    margin-top: 10px;
  }
}

.p-blog-card-type2__ttl {
  font-size: 26px;
  font-weight: global.$font-weight-bold;
  line-height: calc(39 / 26);
  margin-top: 15px;

  @include global.mq('sp') {
    font-size: 18px;
    margin-top: 10px;
  }
}

.p-blog-card-type2__expect {
  line-height: calc(24 / 16);
  margin-top: 11px;

  @include global.mq('sp') {
    font-size: 12px;
  }
}

.p-blog-card-type2__thumb {
  position: relative;
  flex: 0 0 calc(240 / 900 * 100%);
  margin-right: calc(50 / 900 * 100%);
  overflow: hidden;

  @include global.mq('sp') {
    flex: 1 0 auto;
    margin-right: 0;
    aspect-ratio: 16 / 9;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease;

    @include global.mq('sp') {
      position: relative;
    }
  }
}

.p-blog-card-type2__cat {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: global.$color-main;
  color: #FFFFFF;
  font-size: 12px;
  padding-top: 5px;
  padding-right: 12px;
  padding-bottom: 5px;
  padding-left: 12px;
}