@use '../global/' as global;


.p-msg-board {
  background-color: #FFFFFF;
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;

  @include global.mq('sp') {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
  }
}

.p-msg-board__inner {
  border: 5px solid global.$color-main;
  padding-top: 10px;
  padding-bottom: 23px;
}

.p-msg-board__ttl {
  font-size: 36px;
  font-weight: global.$font-weight-bold;
  line-height: calc(50 / 36);
  text-align: center;

  @include global.mq('sp') {
    font-size: 18px;
  }
}

.p-msg-board__txt {
  margin-top: 20px;
  font-size: 18px;
  line-height: calc(31 / 18);
  text-align: center;

  @include global.mq('sp') {
    font-size: 16px;
  }
}